.card-wrapper {
  padding: 20px;
  position: absolute;
  top: -100px;
  background: white;
  left: 20px;
  right: 20px;
  top: 150px;
  z-index: 2;
  border-radius: 10px;
  .card-content {
    text-align: center;
    margin-bottom: 20px;
    .card-label {
      margin-bottom: 10px;
    }
    .card-detail {
      font-size: 20px;
      font-weight: 500;
    }
  }
  :last-child {
    margin-bottom: auto;
  }
}

@media (min-width: 1024px) {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card-content {
      flex-grow: 1;
      margin-left: 30px;
      text-align: left;
      border-right: 1px solid gray;
    }
    :last-child {
      border: none;
    }
  }
}
